@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400&family=Slabo+27px&display=swap');



*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(44, 42, 42);
    padding: 30px;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    margin-right: 30px;
}

.navbar ul li a{
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
}

.navbar .logo{
    color: white;
    font-size: 30px;
}

.navbar ul li a:hover{
    color: white;
    background: tomato;
    transition: 0.5s;
    
}


span{
    color: tomato;
}

.menu-btn {
    width: 50px;
    display: none;
    cursor: pointer;
}

.menu-btn button{
    width: 50px;
    color: rgb(241, 231, 229);
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

.search input{
    width: 300px;
    padding:6px;
    border: none;
}

.toggle{
    top: 0 !important;
}



@media only screen and (max-width: 1227px){
    .menu-btn{
        display: block;
    }

    .search-icon{
        display: block !important;
    }

    .menu{
        position: absolute;
        height: 100vh;
        background:rgb(44, 42, 42) ;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        top: 0;
        right: -2000px;
        transition: 0.6s;
    }

    .search{
        position: fixed;
        width: 100%;
        background-color: rgb(44, 42, 42);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
       top: -400px;
    }

    .remove-search{
        display: block !important;
    }
     

    .search input{
        width: 70%;
        background: none;
        font-size: 18px;
        color: #fff;
        
    }



    .menu li{
        margin-bottom: 70px;
    }

    .menu .close-btn{
        position: absolute;
        right: 150px;
        top: 50px;
        cursor: pointer;
        display: block;
    }
}

    .close-btn{
        display: none;
        cursor: pointer;
    }

    .close-btn button{
        padding: 10px;
        font-size: 30px;
        color: #fff;
        border: none;
        background: none;
        cursor: pointer;
    }

    .add{
        right: 0;
    }


    .search-icon button{
       background: none;
       color: #fff;
       font-size: 16px;
       cursor: pointer;
       border: none;
    }

    .search-icon{
        padding: 10px;
        display: none;
    }

    .remove-search button{
        color: #fff;
        background: none;
        border: none;
        padding: 10px;
        font-size: 23px;
        cursor: pointer;
        padding: 10px;
       
    }

    .remove-search{
        display: none;
    }

    .banner{
        height: 100vh;
       background: linear-gradient(#e66465, #9198e5) url(img/bannere.jpg);
       background-position: center;
       background-size: cover ;
    }